<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <% if @action == 'created' || @action == 'updated' %>
        <h1 class="text-center">The product has been <%= @action %> succesfully</h1>
      <% else %>
        <h1 class="text-center">Product Information</h1>
      <% end %>

      <p>Reference: <%= @product.reference %></p>
      <p>Price: <%= @product.price %></p>
      <p>Name: <%= @product.name %></p>
      <p>Quantity: <%= @product.quantity %></p>
      <p>Brand: <%= @product.brand %></p>
      <p>Description: <%= @product.description %></p>
      <p>Created At: <%= @product.created_at %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "New product", new_product_path %> -
      <%= link_to "All products", products_path %>
    </div>
  </div>
</div>
